@charset "UTF-8";
@import url("reset.css");


.s1 ul{
	display:flex;
	/* flex-direction:row;
	flex-wrap:wrap; */
	flex-flow:column wrap;
	background:gray;
	height:250px;
}


.s1 li{
	flex: 0 0 100px; /*1 1 100px*/
	flex-grow:1;
}

.s1 li:nth-child(1){
	background:red;
	
}

.s1 li:nth-child(2){
	background:green;
}

.s1 li:nth-child(3){
	background:blue;
}

.s1 li:nth-child(4){
	background:yellow;
} 

.s1 li:nth-child(5){
	background:lightblue;
}


