@charset "UTF-8";
@import url("reset.css");


#header{
	height:70px;
	background:beige;
	position:sticky;
	width:100%;
 
}

#s1 ul{
	background:yellow;
	
}

#s1 li:nth-child(1){
	background:red;
	
}
#s1 li:nth-child(2){
	background:green;
	

	
}
#s1 li:nth-child(3){
	background:blue;
}
 